name: Simulate build

on:
  workflow_dispatch:  # så du kan starte det manuelt fra GitHub

jobs:
  leak-demo:
    runs-on: ubuntu-latest

    env:
      # Secret hentes fra GitHub Actions secrets (se næste trin)
      SECRET_TOKEN: ${{ secrets.SECRET_TOKEN }}

    steps:
      - name: Start build
        run: echo "Starter CI..."

      - name: Vulnerable step that leak secret in log
        run: |
          echo "Ups, something when wrong in the build"
          echo "DEBUG: SECRET_TOKEN is: $SECRET_TOKEN"
