name: Simulate build

on:
  workflow_dispatch:  

jobs:
  leak-demo:
    runs-on: ubuntu-latest

    env:
      SECRET_TOKEN: ${{ secrets.SECRET_TOKEN }}

    steps:
      - name: Start build
        run: echo "Starter CI..."

      - name: Vulnerable step that leak secret in log
        run: |
          echo "Ups, something when wrong in the build"
          echo "DEBUG: SECRET_TOKEN is: $SECRET_TOKEN"
      - name: Encoded leak (bypass)
        run: |
          echo "DEBUG (base64): $(printf '%s' "$SECRET_TOKEN" | base64)"